
body{
  background-color:  #04619F;
  text-align: center;

  
}
header{
  text-align: center;
  margin-bottom: auto;
}
*{
  margin-top: 2px;
  padding: 0;
}
p {
    font-size: 1.40em;
  }

.Book{
  margin-bottom: 22px;
  margin-top: 30px;
  margin-left: 5px;
}
.angled-gradient {
  background: linear-gradient(70deg, blue, pink);
}


