

p {
  background-image: url('/svgs/hotel.svg');
}




/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



.container {
  display: flex;
  justify-content: space-between;
flex-direction: row;
flex-wrap: wrap;
}
.card {
  border: 1px solid black;
  float: right;
  margin: 1px;
  padding: 10px 3px;
  /*setting width for each and every card element as well as -10px for removing the margin width for 5 elements*/
  width: calc( 100% / 5 - 10px);
}